<style>
    .free-shipping-progress {
      margin: 15px 0;
      text-align: center;
      font-size: 14px;
    }

    .progress-bar {
      height: 9px;
      border-radius: 8px;
      background: #E1E1E1;
      margin-bottom: 20px; /* leave space for icons */
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .progress-fill {
      height: 100%;
      background: #D8BBD6;
      border-radius: 8px;
      width: 0;
      transition: width 0.4s ease;
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .milestone {
      position: relative;
      z-index: 2;
    }
    .milestone:empty {
      display: block;
      visibility: hidden;
      opacity: 0;
    }
    span.milestone {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 20px;
      border: 1px solid #D8BBD6;
      background: #FFF;
    }
    span.milestone.active {
      border-radius: 20px;
      border: 1px solid #D8BBD6;
      background: #D8BBD6;
      transition: 0.3s;
    }

    span.milestone img {
      width: 100%;
    }
    span.milestone.free-shiping-icon.active img {
      filter: invert(1);
  }
</style>

{% assign free_shipping_threshold = settings.free_shipping_threshold | times: 100 %}
{% assign free_gift_threshold = settings.free_gift_threshold | times: 100 %}
{% assign cart_total = cart.total_price %}

<div class="free-shipping-progress">
  <div class="progress-bar">
    <div
      class="progress-fill"
      style="width: {{ cart_total | times: 100 | divided_by: free_gift_threshold | at_most: 100 }}%;"
    ></div>

    <!-- Milestone markers -->
    <span class="milestone"></span>
    {% if settings.free_shipping_icon != blank %}
      <span class="milestone free-shiping-icon {% if cart_total >= free_shipping_threshold %}active{% endif %}">
        <img src="{{ settings.free_shipping_icon | image_url }}" width="" height="" alt="icon">
      </span>
    {% endif %}
    {% if settings.free_product_icon != blank %}
      <span class="milestone {% if cart_total >= free_gift_threshold %}active{% endif %}">
        <img src="{{ settings.free_product_icon | image_url }}" width="" height="" alt="icon">
      </span>
    {% endif %}
  </div>
  {% assign free_shipping_text = block.settings.text_free_shipping
    | replace: '{{amount}}', free_gift_threshold
    | minus: cart_total
    | money
  %}
  {{ free_shipping_text | rich_text }}

  <div class="progress-text">
    {% if block.settings.text_icon != blank %}
      <img src="{{ block.settings.text_icon | image_url }}" alt="icon">
    {% endif %}

    {% if cart_total >= free_gift_threshold %}
      {{ block.settings.text_free_gift }}
    {% elsif cart_total >= free_shipping_threshold %}
      {% assign remaining_for_gift = free_gift_threshold | minus: cart_total | money %}
      {% assign free_shipping_text = block.settings.text_free_shipping | replace: '{{amount}}', remaining_for_gift %}
      {{ free_shipping_text }}
    {% else %}
      {% assign remaining_for_shipping = free_shipping_threshold | minus: cart_total | money %}
      {% assign shipping_text = block.settings.text_to_unlock | replace: '{{amount}}', remaining_for_shipping %}
      {{ shipping_text }}
    {% endif %}
  </div>
</div>
