{%- case block.type -%}
  {%- when 'review_count' -%}
    <div class="review-blocks" {{ block.shopify_attributes }}>
      <span class="star-count">
        {% assign rating = block.settings.start %}
        {% for i in (1..rating) %}
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 0L11.1246 6.87539H18L12.4377 11.1246L14.5623 18L9 13.7508L3.43769 18L5.56231 11.1246L0 6.87539H6.87539L9 0Z" fill="black"/>
          </svg>
        {% endfor %}
      </span>
      <span class="review-text">{{ block.settings.text }}</span>
    </div>
  {%- when 'short_des' -%}
    <div class="short-des-wrapper" {{ block.shopify_attributes }}>
      <p class="short-des">{{ block.settings.short_des }}</p>
    </div>

  {%- when 'benifits_list' -%}
    <div class="benifits-list">
      <h3 class="benifits-list-title">{{ blocks.settings.title }}</h3>
      <ul class="benifits-list-item">
        {% for i in (1..10) %}
          {% assign setting_key = 'list_item_' | append: i %}
          {% assign setting_key_img = 'list_item_img_' | append: i %}
          {% if block.settings[setting_key] != blank %}
            <li>
              {% if block.settings[setting_key_img] != blank %}
                <img src="{{ block.settings[setting_key_img] | img_url: 'master' }}" alt="icon">
              {% endif %}
              <span>{{ block.settings[setting_key] }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
{% endcase %}
