<div class="ingredients--area">
  <div class="ingredients--container">
    <h2 class="ingredients-title">{{ section.settings.title }}</h2>
    <div class="ingredients--items">
      {% for block in section.blocks %}
        <div class="ingredients--item-single">
          <h3 class="ingredients--name">{{ block.settings.item_name }}</h3>
          <p class="ingredients--details">{{ block.settings.details }}</p>
          <div class="ingredients--image">
            {% if block.settings.image != blank %}
             <img src="{{ block.settings.image |  img_url: 'master' }}" width="" height="" alt="image">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'image-block' }}
            {% endif %}
            
            
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Key Ingredients",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Key Ingredients"
    }
  ],
  "blocks": [
    {
      "type": "ingredient",
      "name": "Ingredient",
      "settings": [
        {
          "type": "text",
          "id": "item_name",
          "label": "Ingredient Name",
          "default": "Ingredient Name"
        },
        {
          "type": "textarea",
          "id": "details",
          "label": "Details",
          "default": "Describe the ingredient here."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Ingredient Image"
        }
      ]
    }
  ],  
  "presets": [
    {
      "name": "Key Ingredients",
      "category": "Custom"
    }
  ]
}
{% endschema %}